.grid-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: minmax(30%, 1fr) 2fr;
  grid-template-rows: minmax(20%, 1fr) 4fr;
}

.topbar {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 1;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sidebar {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
}

.page {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
}