.flex {
  display: flex
}

.flexCenter {
  align-items: "center";
  justify-content: "center";
}

.centerLogo {
  display: "flex" !important;
  align-items: "center" !important;
  justify-content: "center" !important;
}

.modal-box {
  height: 100px;
  width: 100px;
  background: #c5d8d8;
  border-radius: 20px;
}